<div class="sidebar">
    <!-- <h3 class="mb-0 p-2">My Company</h3> -->
    <div class="left-men-u">
        <div id="accordion">
            <div class="card">
                <div class="card-header">
                    <a class="card-link" [ngClass]="{'collapsed': isActive!=1}"   data-toggle="collapse" href="#collapseOne" (click)="setSidebarActive(1)">
                        <img src="assets/images/overview-enterprise.png" alt="" srcset="">
                        <img src="assets/images/company-black.png" alt="" srcset="">
                        COMPANY<span><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <ul class="card-body nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/entity-management/add-company"
                                data-toggle="tab"><img src="assets/images/plus-black.png" alt="" srcset="">
                                <img src="assets/images/plus-color.png" alt="" srcset="">
                                ADD COMPANY </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/entity-management/edit-view-company" data-toggle="tab"><img
                                    src="assets/images/pencil-black.png" alt="" srcset="">
                                <img src="assets/images/pencil-color.png" alt="" srcset="">
                                VIEW & EDIT COMPANY</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        <img src="assets/images/overview-organization.png" alt="" srcset="">
                        <img src="assets/images/org-black.png" alt="" srcset="">ORGANIZATIONAL
                        UNIT<span><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <ul class="card-body nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/entity-management/add-organization" data-toggle="pill"><img
                                    src="assets/images/plus-black.png" alt="" srcset="">
                                <img src="assets/images/plus-color.png" alt="" srcset="">
                                ADD ORGANIZATION </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/entity-management/edit-view-organization" data-toggle="pill"><img
                                    src="assets/images/pencil-black.png" alt="" srcset="">
                                <img src="assets/images/pencil-color.png" alt="" srcset="">
                                EDIT & VIEW ORGANIZATION</a>
                        </li>
                        <!-- <li class="nav-item">
                            <a class="nav-link" routerLink="/entity-management/organization" data-toggle="pill"><img
                                    src="assets/images/eye-black.png" alt="" srcset="">
                                <img src="assets/images/eye-color.png" alt="" srcset="">
                                VIEW ORGANIZATION</a>
                        </li> -->
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                        <img src="assets/images/overview-department.png" alt="" srcset=""><img
                            src="assets/images/dept-black.png" alt="" srcset="">DEPARTMENT<span><i
                                class="fa fa-angle-right"></i></span>

                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <ul class="card-body nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/entity-management/add-department" data-toggle="pill"><img
                                    src="assets/images/plus-black.png" alt="" srcset="">
                                <img src="assets/images/plus-color.png" alt="" srcset="">
                                ADD DEPARTMENTS </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/entity-management/company" data-toggle="pill"><img
                                    src="assets/images/pencil-black.png" alt="" srcset="">
                                <img src="assets/images/pencil-color.png" alt="" srcset="">
                                DEFINE TEMPLATE PROPERTIES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/entity-management/company" data-toggle="pill"><img
                                    src="assets/images/eye-black.png" alt="" srcset="">
                                <img src="assets/images/eye-color.png" alt="" srcset="">
                                DEFINE CONTRACT PROPERTIES</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                        <img src="assets/images/overview-group.png" alt="" srcset=""><img
                            src="assets/images/group-black.png" alt="" srcset="">USER
                        GROUPS<span><i class="fa fa-angle-right"></i></span>
                    </a>
                </div>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <ul class="card-body nav-pills" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="/entity-management/company" data-toggle="pill"><img
                                    src="assets/images/plus-black.png" alt="" srcset="">
                                <img src="assets/images/plus-color.png" alt="" srcset="">
                                CREATE ROLE AND SET PERMISSIONS </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/entity-management/company" data-toggle="pill"><img
                                    src="assets/images/pencil-black.png" alt="" srcset="">
                                <img src="assets/images/pencil-color.png" alt="" srcset="">
                                SET ESCALATION RULES</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>